<mat-card>
    <mat-card-header>
        <section>
            <!-- <div mat-card-avatar class="header-image"></div> -->
            <div class="mat-card-container">
                <mat-card-title>Dependency Injection Quiz</mat-card-title>
                <mat-card-subtitle>
                    <span class="subtitle1">How well do you know Dependency Injection?</span>
                    <span class="subtitle2">Take the quiz and find out!</span>
                </mat-card-subtitle>
            </div>
        </section>
        <div mat-card-image class="quiz-topic-img"></div>
    </mat-card-header>

    <!-- <mat-card-content>
        <p>Take this awesome quiz that will help improve your understanding of Dependency Injection</p>
    </mat-card-content> -->
    <mat-card-actions>
        <button mat-raised-button type="button" (click)="startQuiz()">Start the Quiz!</button>
    </mat-card-actions>
</mat-card>